<h1>Arquivos já importados</h1>

<table>
	<thead>
		<tr>
			<th>Nome</th>
			<th>Data de importação</th>
			<th>Ação</th>
		</tr>
	</thead>
	<tbody>
		<% @files.each do |file| %>
			<tr>
				<td><%= file.original_filename %></td>
				<td><%= date_time(file.created_at) %></td>
				<td><%= processed?(file.processed) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
