<h3>Importar arquivo</h3>

<%= form_for(@file, url: files_url ,  html: {multpart: true , :class => "form"}, method: :post) do |f| %>
	<p>Por favor selecione um arquivo e depois clique em importar </p>

	<div class="form-group">
		<%= f.file_field :file, :class => "form-control" %>
		<%= @file.errors[:file][0] %>
	</div>
	<%= f.submit "Enviar" , :class => "btn btn-md btn-success" %>
<% end %>